
<body >
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"   [formGroup]="newAuth" (ngSubmit)="onSubmitNewAuth()">
					<span class="login100-form-title p-b-43">
						Welcome to our platform
					</span>
					
					
					<div style=" margin-bottom: 60px; " class="wrap-input100 validate-input"  data-validate = "Valid email is required: ex@abc.xyz" >
						<input  id="email"  class="input100" [ngClass]="{'has-val': newAuth.controls['email'].value}"type="email" name="email"  formControlName="email" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
						<div  *ngIf="newAuth.controls['email'].errors?.['required'] && newAuth.controls['email'].touched"
						class="alert alert-danger">
						Email is required.
					  </div>
			
					</div>
					
					
					<div style=" margin-bottom: 60px;" class="wrap-input100 validate-input" data-validate="Password is required">
						<input  id="password" class="input100" [ngClass]="{'has-val': newAuth.controls['password'].value}" type="password" name="pass"  formControlName="password" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
						<div *ngIf="newAuth.controls['password'].errors?.['required'] && newAuth.controls['password'].touched"
						class="alert alert-danger">
						Password is required.
					  </div>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32" style="margin-top: 10px; margin-bottom: 10px;" >
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" style="padding-top: 2px;" for="ckb1">
								Remember me
							</label>
						</div>

						
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="onSignIn()"
            [disabled]="newAuth.invalid">
							Login
						</button>
					</div>
					
					
					


					
				</form>
				<div class="login100-more" >
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>