<section class="mt-5" style="margin-top: 0 !important;">
    <div class="container">
        <app-ads-slider></app-ads-slider>
        <div class="img-main-banner ">
            <div
                style="background: url(assets/images/bg.png)no-repeat; background-size: cover; border-radius: .5rem; background-position: center; height: 500px;">

                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">

                    <span class=" badges">Opening Sale Discount 50%</span>
                    <br>
                    <br>
                    <div class="bg-overlay">
                        <h2 class="text-adj">SuperMarket Daily <br> Fresh Grocery </h2>
                        <p class="parag">Introduced a new model for online grocery shopping and convenient home
                            delivery.
                        </p>
                    </div>
                    <a href="#!" class=" shop-now-button btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>